{% extends "layout.html" %}
{% block content %}
    {% for booking in bookings %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ booking.guest.first_name }} {{ booking.guest.last_name }}</a>
              <small class="text-muted">Start: {{ booking.start_date }}</small>
              <small class="text-muted">End: {{ booking.end_date }}</small>
            </div>
            <h2>{{ booking.room.id }} {{ booking.room.room_type }}</h2>
            <p class="article-content">Booking ID: {{ booking.id }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}