{% extends "layout.html" %}
{% block content %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Room Number</th>
        <th scope="col">Room Type</th>
        <th scope="col">Room Status</th>
      </tr>
    </thead>
    <tbody>
      {% for room in rooms %}
      <tr>
        <th scope="row">{{ room.id }}</th>
        <td>{{room.room_type}}</td>
        <td>{{room.room_status}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}