{% extends "manage.html" %}
{% block tab %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Guest Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
      {% for guest in guests.items %}
      <tr>
        <th scope="row">{{ guest.last_name }}, {{ guest.first_name }}</th>
        <td>{{guest.email}}</td>
        <td>{{guest.phone}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% for page_num in guests.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
          {% if guests.page == page_num %}
            <a class="btn btn-info mb-4" href="{{ url_for('manage_guests', page=page_num) }}">{{ page_num }}</a>
          {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('manage_guests', page=page_num) }}">{{ page_num }}</a>
          {% endif %}
        {% else %}
          ...
        {% endif %}
    {% endfor %}
{% endblock tab %}