{% extends "layout.html" %}
{% block content %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Room Number</th>
        <th scope="col">Room Type</th>
        <th scope="col">Room Status</th>
      </tr>
    </thead>
    <tbody>
      {% for room in rooms.items %}
      <tr>
        <th scope="row">{{ room.id }}</th>
        <td>{{room.room_type}}</td>
        <td>{{room.room_status}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% for page_num in rooms.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
          {% if rooms.page == page_num %}
            <a class="btn btn-info mb-4" href="{{ url_for('manage_rooms', page=page_num) }}">{{ page_num }}</a>
          {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('manage_rooms', page=page_num) }}">{{ page_num }}</a>
          {% endif %}
        {% else %}
          ...
        {% endif %}
    {% endfor %}
{% endblock content %}