{% extends "manage.html" %}
{% block tab %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Booking ID</th>
            <th scope="col">Beginning of Stay</th>
            <th scope="col">End of Stay</th>
            <th scope="col">Guest</th>
            <th scope="col">Room No.</th>
        </tr>
        </thead>
        <tbody>
        {% for booking in bookings.items %}
        <tr>
            <th scope="row">{{ booking.id }}</th>
            <td>{{booking.start_date}}</td>
            <td>{{booking.end_date}}</td>
            <td>{{booking.guest.last_name}}</td>
            <td>{{booking.room.room_id}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
  {% for page_num in bookings.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
          {% if bookings.page == page_num %}
            <a class="btn btn-info mb-4" href="{{ url_for('manage_bookings', page=page_num) }}">{{ page_num }}</a>
          {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('manage_bookings', page=page_num) }}">{{ page_num }}</a>
          {% endif %}
        {% else %}
          ...
        {% endif %}
    {% endfor %}
{% endblock tab %}